.text-justify {
    text-align: justify;
}

.break-words {
    word-wrap: break-word;
    word-break: break-word;
}

/* Aumenta el tamaño de los botones de navegación */
.slick-prev,
.slick-next {
    height: 50px;
    width: 50px;
    z-index: 1;
}

/* Aumenta el tamaño de los puntos del carrusel */
.slick-dots li button:before {
    font-size: 20px;
}

/* Añade espacio entre las imágenes */
.slick-slide {
    margin: 0 15px;
}

/* Personaliza el color y tamaño de la flecha (si es necesario) */
.slick-prev:before,
.slick-next:before {
    color: black;
    font-size: 50px;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-top: 25.25%; /* Proporciona la altura basada en el ancho para mantener un aspecto adecuado */
}

iframe {
    position: absolute;
    width: 80%; /* 80% del ancho de la página */
    height: 80vh; /* 80% de la altura de la ventana del navegador */
    border: none;
}

nav {
    background-color: transparent;
}

button {
    background-color: #3490dc; /* Cambia al color que prefieras */
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.slick-slider {
    width: 100%;
}

.slick-list {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slick-track {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slick-slide {
    display: flex;
    justify-content: center;
}

img {
    max-height: 80vh;
    object-fit: contain;
    width: auto;
    height: auto;
    margin: auto;
}
